---
import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import DarkmodeSwitch from "../components/DarkmodeSwitch.astro";

import "@fontsource/eczar/700.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

console.log(posts.forEach((post) => console.log(post.frontmatter)));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style></style>
    <!-- <script src="../scripts/initColorTheme"></script> -->
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        console.log({
          matches: window.matchMedia("(prefers-color-scheme: dark)").matches,
        });
        document.documentElement.classList.add("dark");

        console.log({
          dClassList: document.documentElement.classList.contains("light"),
        });
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="w-[90%] lg:w-[56%] mx-auto dark:bg-darkmodeBg bg-white dark:text-white text-black"
  >
    <div class="mt-4">
      <h3 class="text-lg cursor-pointer hover:text-blue-500 font-bold">
        <a href="/">Home</a>
      </h3>
    </div>
    <div class="min-h-[calc(100vh_-_130px)]">
      <h1 class="text-4xl mt-8 font-bold font-serif">Blog</h1>
      <p class="italic text-gray-400 dark:text-darkmodeText">
        Trying to Grok things I dont understand
      </p>
      <main class="mt-5">
        <section>
          <ul>
            {
              posts.map((post) => (
                <li class="mt-4 cursor-pointer hover:text-[#fd1d1d]">
                  <a href={post.url}>
                    <h2 class="text-2xl font-serif">
                      {post.frontmatter.title}
                    </h2>
                    <p class="text-gray-500 dark:text-darkmodeText">
                      {post.frontmatter?.description}
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
    </div>
    <Footer />
    <DarkmodeSwitch />
  </body>
</html>
